@mixin container () {
    width: 100%;
    max-width: 1110px;
    padding: 0 2.4rem;
    margin: 0 auto;
}


@mixin responsive ($breackpoint) {
    @if $breackpoint == large {
        @media only screen and (max-width:1200px) { @content };
    }
    @if $breackpoint == medium {
        @media only screen and (max-width:992px) { @content };
    }
    @if $breackpoint == small {
        @media only screen and (max-width:768px) { @content };
    }
    @if $breackpoint == x-small {
        @media only screen and (max-width:576px) { @content };
    }
    @if $breackpoint == mobile {
        @media only screen and (max-width:275px) { @content };
    }
}