// colors

$primary-color: #9E7F66;
$primary-dark-color: #111111;
$secondary-color: #17192B;
$secondory-clay-color: #242B37;
$secondory-grey-color: #5C6779; 

$white-color: #fff;
$black-color: #000;

// background color 

$white-bg-color: #fff;
$black-bg-color: #000;

// fonts 

$site-fonts: 'League Spartan' , 'Arial' , sans-serif;