%buttons {
    padding: 2.4rem 4.8rem;
    border: 1px solid inherit;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1;
    letter-spacing: 0.14em;
    color: #fff;
    display: block;
    text-transform: uppercase;
}